absl-py
appdirs
astunparse
audioread
cachetools
certifi
cffi
chardet
click
decorator
Flask
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
importlib-metadata
itsdangerous
jinja2
joblib
Keras-Preprocessing
librosa
llvmlite
Markdown
MarkupSafe
numba
numpy
oauthlib
opt-einsum
packaging
pip
pooch
protobuf
pyasn1
pyasn1-modules
pycparser
pyparsing
requests
requests-oauthlib
resampy
rsa
scikit-learn
scipy
setuptools
six
SoundFile
tensorboard
tensorboard-plugin-wit
tensorflow-cpu
tensorflow-estimator
termcolor
threadpoolctl
urllib3
Werkzeug
wheel
wrapt
zipp
